---
const { url, title, image } = Astro.props;
---

<a href={url}>
  {image && <img src={image.url} alt={image.alt} />}
  <span class="body-lg">{title}</span>
</a>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;

  .body-sm {
    opacity: 0.5;
  }

  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:hover {
      img {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px 0px rgba(4,6,2,0.25);
        border-radius: 40px;
      }

      span {
        font-weight: 700;
      }
    }

    // display: block;
    // padding: 16px 0;
    // transition:
    //   background 0.4s ease-in-out,
    //   padding 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    // border-radius: 24px;
    // &:hover {
    //   padding: 16px 24px;

    //   background: color-mix(in oklab, var(--color-black) 5%, transparent);
    //   backdrop-filter: blur(4px);

    //   .h4 {
    //     text-decoration: underline;
    //   }
    // }
    
  }

  img {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 24px;
    border: 1px solid $black;
    transition: all 0.3s ease-in-out;
  }

  span {
    transition: all 0.3s ease-in-out;
    text-align: center; 
  }
</style>


<!-- border border-black rounded-3xl relative overflow-hidden aspect-video w-full bg-black transition-all duration-300 ease-out group-hover:-translate-x-[3px] group-hover:-translate-y-[3px] group-hover:shadow-[4px_4px_0px_rgba(4,6,2,0.25)]  -->
