---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  href: string;
  class?: string;
}

const { href, class: className, ...rest } = Astro.props;

// 1. Logic for Link Types
const isEmail = href.includes('@') && !href.startsWith('mailto:');
const isExternal = href.startsWith('http') || href.startsWith('//');

// 2. Formatting URL and Security
const finalHref = isEmail ? `mailto:${href}` : href;
const target = isExternal ? "_blank" : undefined;
const rel = isExternal ? "noopener noreferrer" : undefined;

// 3. Active State Logic
const { pathname } = Astro.url;
const isActive = pathname === href || pathname === href + '/';
---

<a 
  href={finalHref} 
  target={target} 
  rel={rel} 
  class:list={[className, { active: isActive }]} 
  aria-current={isActive ? 'page' : undefined}
  {...rest}
>
  <slot />
</a>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;
  
  .active {
    font-weight: bold;
  }

  a {
    
    &:hover {
      font-weight: bold;
      color: $primary-color;
      transition: color 0.3s ease;
    }
  }
</style>