@use "./variables" as *;

.page-section {
  scroll-margin-top: 0.5rem;
  padding: 2.5rem 0;

  @include mq("sm") {
    padding: 3rem 0;
  }

  @include mq("lg") {
    paccing: 4rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    gap: 2rem;
    padding: 0 1rem;

    @include mq("sm") {
      gap: 2.5rem;
      padding: 0 1.5rem;
    }

    @include mq("lg") {
      gap: 3rem;
      padding: 0 2rem;
    }
  }
}


mux-player {
  --media-object-fit: cover;
  --media-object-position: center;

  /* Hide all controls at once */
  --controls: none;

  /* Hide the error dialog */
  --dialog: none;

  /* Hide the loading indicator */
  --loading-indicator: none;

  /* Target all sections by excluding the section prefix */
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;

  /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
  --center-controls: none;
  --bottom-play-button: none;
}