@use 'sass:map';

$primary-color: var(--color-primary);
$secondary-color: var(--color-secondary);
$tertiary-color: var(--color-tertiary);
$accent-color: var(--color-accent);

$black: var(--color-black);
$white: var(--color-white);
$pure-white: var(--color-pure-white);
$gray: var(--color-gray);
$red: var(--color-red);
$text: var(--color-text);

$font-sans: var(--font-sans);
$font-mono: var(--font-mono);

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;
$bp-3xl: 1720px;

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin glass($color: white, $opacity: 0.2) {
  background: rgba($color, $opacity);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

$breakpoints: (
  "sm": $bp-sm,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
  "3xl": 1720px
);

@mixin mq($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin letter-hover-effect {
  &:hover {
    color: $primary-color;
    transform: translateY(-5px) rotate(-10deg);
    transition-delay: 0.01s;
    // transition-delay: calc(var(--index) * 0.01s);
  }
}