/* Modern Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #fbf8f3;
  --foreground: #191914;

  --color-black: #191914;
  --color-white: #fbf8f3;
  --color-pure-white: #fff;
  --color-gray: #f3f3f3;
  --color-red: #e52b2f;
  --color-text: #010101;
  --color-primary: #ffcf00;
  --color-secondary: #e72929;
  --color-tertiary: #2ec0f9;
  --color-accent: #ffebf5;

  --font-sans: "Host Grotesk Variable", sans-serif;
  --font-mono: 'DM Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbf8f3;
    --foreground: #191914;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;

  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;

  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}