---
import BaseLayout from "../layouts/BaseLayout.astro";

const metaTitle = "Helloooo"
---

<BaseLayout metaTitle={metaTitle}>
	<section>

		<h1>{metaTitle}</h1>
		<h2>title</h2>
	</section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;

	h1 { color: $secondary-color; }
	section { background-color: $primary-color; }
</style>