---
import BrandCarousel from "@/components/BrandCarousel.astro";
import Link from "@/components/inputs/Link.astro";
import SplitText from "@/components/inputs/SplitText.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="hero-section page-section">
		<div class="container">
			<div class="text-block">
				<h1 class="h3">Hi, I'm Bri!</h1>
				<h2 class="h5">~ * <SplitText text="Creative Engineer" /> * ~</h2>
				<p>
					I build headless Shopify eCommerce websites at <Link href="https://www.dianthe.studio">Dianthe Studio</Link>. Before that, I was at a growth agency designing and building landing pages for some pretty big startups.
					<br/><br/>
					Right now I'm exploring Three.js, 3D Modeling, and Shaders at <Link href="https://www.recurse.com/">Recurse Center</Link> (:
				</p>
			</div>
		</div>
	</section>
	<!-- <BrandCarousel/> -->
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
	@use "@/styles/_variables.scss" as *;

	.page-section {
		min-height: 60dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	p a {
		padding: 0 4px;
		border-radius: 32px;

		&:hover {
			background-color: $primary-color;
		}
	}

	.text-block {
		text-align: center;
		p { margin: 16px auto 0; }
	}
</style>