---
import Navigation from "./inputs/Navigation.astro";

const year = new Date().getFullYear();
const links = [
	{
		text: "work with me",
		url: "https://tally.so/r/woxEyX",
	},
  {
		text: "email",
		url: "hi@brianagude.com",
	},
	{
		text: "linkedin",
		url: "https://www.linkedin.com/in/brianagude/",
	},
	{
		text: "github",
		url: "https://github.com/brianagude",
	},
	{
		text: "instagram",
		url: "https://www.instagram.com/brianagude/",
	},
	{
		text: "bsky",
		url: "https://bsky.app/profile/brianagude.com",
	},
];
---

<footer>
  <div class="container">
    <Navigation links={links} ariaLabel="Social and contact links" />
    <p>&copy; {year} Briana Gude LLC</p>
  </div>
</footer>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;

  footer {
    width: 100%;
  }

  .container {
    padding: 8px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    max-width: $bp-xl;
    margin: 0 auto;
  }

  p, a { line-height: 1; }
</style>