---
import { Image } from "astro:assets";
import avi from "@/images/briana.webp";
import Navigation from "./inputs/Navigation.astro";

const links = [
	{
		text: "Work",
		url: "/work",
	},
	{
		text: "Thoughts",
		url: "/thoughts",
	},
	{
		text: "Inquire",
		url: "https://tally.so/r/woxEyX",
	},
];
---
<header>
  <div class="container">
    <a href="/" class="logo">
      <Image src={avi} alt="" width="36"/>
      <!-- <p>
        <b>Briana Gude</b><br/>
        Designer & Engineer
      </p> -->
    </a>
    <Navigation links={links} />
  </div>
</header>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;

  header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    img {
      border: 1px solid $black;
      border-radius: 100%;
    }
  }

  .container {
    padding: 8px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 16px;
    // border-bottom: 1px solid $black;
    max-width: $bp-xl;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    // display: none;

    // @include mq("md") { 
    //   display: inline-block;
    // }
  }

  p { line-height: 1.2; }
  a { line-height: 1; }
  b { font-weight: 500; }
</style>