---
const { title, items } = Astro.props
// items = [{ subtitle: string, text: string }]
---

<section class="text-grid">
  <div class="container">
    <div class="grid">
      {title && <h2 class="h3 title">{title}</h2>}
      {items.map(item => (
        <div class="text-block">
          <h6 class="caption-sm">{item.subtitle}</h6>
          <p class="body-sm">{item.text}</p>
        </div>
      ))}
    </div>
  </div>
</section>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;
  @use "@/styles/_components.scss" as *;

  .title {
    padding-top: 1rem;
    border-top: 2px solid $black;
    grid-column: 1/-1;
  }

  .grid {
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;

    // @media (min-width: 640px) {
    //   grid-template-columns: repeat(2, minmax(0, 1fr));
    // }

    @media (min-width: 1280px) {
      gap: 3rem;
      // grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    p {
      margin-top: 12px; 
    }
  }

</style>