---
import "@/styles/_typography.scss";
import "@/styles/global.scss";
import "@fontsource-variable/host-grotesk";
import '@fontsource/instrument-serif/400.css';
import '@fontsource/dm-mono';
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro"

const {
	title = "briana gude",
	description = "creative technologist",
	image = "/og-default.png",
	twitterImage,
} = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} image={image} twitterImage={twitterImage} />
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <Header/>
    <main id="main-content">
      <slot />
    </main>
    <Footer/>
    <script>import '@mux/mux-player';</script>
  </body>
</html>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;
  // @use "@/styles/_typography.scss" as *;

  main {
    max-width: $bp-xl;
    margin: auto;
    min-height: calc(100vh - 168px);
    display: flex;
    flex-direction: column;

    @media (min-width: 576px) {
			min-height: calc(100vh - 136px);
		}
  }

  .skip-link {
    position: absolute;
    top: -100%;
    left: 0;
    background: var(--color-primary);
    color: var(--color-black);
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
    z-index: 9999;

    &:focus {
      top: 0;
    }
  }

</style>