---
import "@/styles/_typography.scss";
import "@/styles/global.scss";
import "@fontsource-variable/host-grotesk";
import '@fontsource/dm-mono';
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro"

const {
	metaTitle = "briana gude",
	metaDescription = "creative technologist",
	metaImage = "/og-default.png",
} = Astro.props;
---

<html lang="en">
  <Head title={metaTitle} description={metaDescription} image={metaImage} />
  <body>
    <Header/>
    <main>
      <slot /> 
    </main>
    <Footer/>
    <script src="https://cdn.jsdelivr.net/npm/@mux/mux-player" defer></script>
  </body>
</html>

<style lang="scss">
  @use "@/styles/_variables.scss" as *;
  // @use "@/styles/_typography.scss" as *;

  main {
    max-width: $bp-xl;
    margin: auto; 
    min-height: calc(100vh - 168px);

    @media (min-width: 576px) {
			min-height: calc(100vh - 136px);
		}
  }

</style>